body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#root, #app {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    min-height: 100vh;
}

#content {
    flex: 1 0 auto;
}

footer {
    margin-top: 20px;
    padding: 20px 0;
    color: @navbar-default-color;
    background-color: @navbar-default-bg;
    border-top: 1px solid @navbar-default-border;
}

a {
    cursor: pointer;
}
