.weather-type {
    min-height: 325px;
    display: flex;
    flex-direction: column;

     .weather-type-overlay {
         flex-grow: 1;
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .weather-icon {
         display: inline-block;
         vertical-align: middle;
         width: 50px;
         height: 50px;
         background-size: 50px;
         background-position: center;

        &.weather-icon-sm {
            width: 30px;
            height: 30px;
            background-size: 40px;
        }
     }

     .weather-type-content {
         text-align: center;
         flex-grow: 1;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
     }

    table.weather-table {
        width: 100%;

        th {
            font-weight: normal;
            font-style: italic;
        }

        thead {
            th {
                text-align: center;
                vertical-align: middle;
                font-size: 12px;
                word-break: break-word;
            }
        }
        tbody {
            tr {
                border-top: 1px solid @table-border-color;
                th {
                    width: 80px;
                }
            }
        }
    }
}